@charset "utf-8";
/*美妆页面Style表*/
*{margin:0;padding:0;}
body {
	padding:0;
	margin:0;
	width:1208px;
	margin:0 auto;
	/*border:1px red solid;*/
	}
	
/*定义鼠标的样式*/
a{
	color:white;
	text-decoration:none;
	cursor:pointer;
	}
a:hover {
	color:red;
	}

	

/*展示区*/
#show {
	width:1208px;
	position:absolute;
	top:180px;
	}
.pic {
	width:390px;
	height:168px;
	background-color:#000;
	display:inline-block;
	margin-left:5px;
	margin-bottom:9px;
	overflow:hidden;
	}
.desc {
	width:390px;
	height:80px;
	background-color:#000;
	opacity:0.6;
	margin-top:-40px;}
.pic img {
	width:390px;
	height:168px;
	-webkit-transition:opacity 0.7s ease;
	-ms-transition:opacity 0.7s ease;	
	-moz-transition:opacity 0.7s ease;	
	-o-transition:opacity 0.7s ease;	
	}
.pic img:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	
	}
.desc a:hover {
	color:#f6FF00;
	}
.pro_desc {
	width:300px;
	height:20px;
	color:white;
	font-size:14px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	line-height:20px;
	padding-left:10px;
	font-family:微软雅黑;
	}
.price {
	width:300px;
	height:20px;
	color:gray;
	font-size:14px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	line-height:20px;
	padding-left:10px;
	font-family:微软雅黑;
	}
.buybtn {
	width:80px;
	height:30px;
	color:#f6FF00;
	background-color:#FF4200;
	font-family:宋体;
	line-height:30px;
	text-align:center;
	border-radius:5px 5px 5px 5px;
	margin-top:-35px;
	margin-left:300px;

	}
	
/*底部版权说明部分*/

#copyright {
	width:1208px;
	height:80px;
	background-color:#2D2D2D;
	border-radius:5px 5px 0 0;
	position:absolute;
	top:1260px;
	}
.about_us {
	width:456px;
	height:16px;
	color:#999999;
	font-family:微软雅黑;
	font-size:12px;
	line-height:16px;
	margin:7px auto;
	}
.beian {
	width:340px;
	height:16px;
	color:#999999;
	font-family:微软雅黑;
	font-size:12px;
	line-height:16px;
	margin:0px auto;}
.copy_right {
	width:280px;
	height:16px;
	color:#999999;
	font-family:微软雅黑;
	font-size:12px;
	line-height:16px;
	margin:7px auto;
	}
.about_us a {
	color:#999999;}
.about_us a:hover {
	color:white;}